@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');

:root {
	--primary-color: rgb(255, 92, 92);
	--primary-variant: #ff2d2d;
	--secondary-color: #1b9999;
	--on-primary: rgb(255, 255, 255);
	--on-background: rgb(66, 66, 66);
	--on-background-alt: rgba(66, 66, 66, 0.7);
	--background: rgb(255, 255, 255);
	--box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
	--primary-color: rgb(150, 65, 255);
	--primary-variant: #6c63ff;
	--secondary-color: #03dac5;
	--on-primary: #000000;
	--on-background: rgba(255, 255, 255, 0.9);
	--on-background-alt: rgba(255, 255, 255, 0.7);
	--background: #121212;
	--box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Bitter', serif;
	color: var(--on-background);
	background-color: var(--background);
}

body * {
	box-sizing: border-box;
}

h1 {
	font-size: 60px;
	margin-top: 0;
	margin-bottom: 25px;
}

h2 {
	font-size: 24px;
}

section {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}