html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: #DFDBE5;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
	display: flex;
	justify-content: center;
	align-items: center;
}

#quote-container {
	width: auto;
	max-width: 500px;
	padding: 40px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.quote-text {
	font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.fa-quote-left {
	font-size: 40px;
	margin-right: 20px;
}

.quote-author {
	font-size: 20px;
	margin-top: 20px;
	font-style: italic;
	text-align: right;
}

.button-container {
	margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
	line-height: 1;
	border-radius: 10px;
	box-shadow: 0px 5px rgba(121, 121, 121, 0.65);
}

button:hover {
	filter: brightness(110%);
}

button:active {
	transform: translate(0, 5px);
	box-shadow: 0px 5px rgba(255, 255, 255, 0.65);
}

#new-quote {
	color: #fff;
	background: rgb(255, 0, 122);
	font-size: 22px;
	padding: 20px 60px;
}

#twitter {
	color: #fff;
	background: rgba(29, 161, 242);
	font-size: 16px;
	padding: 12px 36px;
	margin-top: 30px;
}

@media screen and (max-width: 660px) {

	#quote-container {
		margin-left: 60px;
		margin-right: 60px;
	}

}
