@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* GENERAL */

* {
	margin: 0;
	font-family: 'Bitter', serif;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/* NAVIGATION */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

/* MAIN CONTENT */

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* POST PREIVEW */

.post-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.post-preview:hover {
  box-shadow: 1px 3px 5px rgb(0 0 0 / 10%);
}

.post-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}